@model IEnumerable<WebApplication1.Models.Game>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Red team

        </th>
        <th>
            Blue team
        </th>
        <th>
            Winner
        </th>
        <th>
            Tournament
        </th>
        <th>
            Game date
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.team.name)
        </td>
        <td>
            @Html.DisplayFor(model => item.team2.name)
        </td>
        <td>
            @Html.DisplayFor(model => item.team1.name)
        </td>
        <td>
            @Html.DisplayFor(model => item.tournament.name)
        </td>
        <td>
            @Html.DisplayFor(model => item.date)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
