@model IEnumerable<WebApplication1.Models.Team>

@{
    ViewBag.Title = "Index";
    var id = ViewBag.ID;
    var nbparticipant = ViewBag.tSize;
    var tnb = ViewBag.nbParticipant;
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Retour Vers Tournois", "BackToTournament", new { id = id })
    @if (nbparticipant > tnb)
    {
        @Html.ActionLink("Create New", "Create", new { id = id })
    }


</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Captain name
        </th>
        <th>
            Tournament name
        </th>
        <th>
            Team size
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tournament.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nb_members)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.id}) |
            @Html.ActionLink("Details", "Details", new {id = item.id}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.id}) |
            @Html.ActionLink("Join", "addPlayer", new {id = item.id})
        </td>
    </tr>
}

</table>
