@model IEnumerable<WebApplication1.Models.Player>

@{
    ViewBag.Title = "Index";
    var id = ViewBag.ID;
    var tid = ViewBag.TID;
    var nbPlayer = ViewBag.nbPlayer;
    var tsize = ViewBag.tSize;

}

<h2>Index des joueurs du tournoi</h2>

<p>
    @Html.ActionLink("Retour Vers Tournoi", "BackToTournament", new { id = id })|
    @Html.ActionLink("Retour Vers Team", "BacktoTeams", new { id = tid })|

    @if (nbPlayer < tsize)
    {
        @Html.ActionLink("Create New Player", "Create", new { id = id })
    }



</p>
<table class="table">
    <tr>
        <th>
            Player Name
        </th>
        <th>
            Team name
            </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team.name)
        </td>
        <td>
            @if (User.IsInRole("Admin"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) <span>|</span>
                @Html.ActionLink("Delete", "Delete", new { id = item.id }) <span>|</span>
            }

            @Html.ActionLink("Details", "Details", new { id = item.id }) 

        </td>
    </tr>
}

</table>
