@model IEnumerable<WebApplication1.Models.Tournament>

@{
    ViewBag.Title = "Search a Tournament";


}

<h2>Search</h2>
@using( Html.BeginForm("Search", "tournaments", FormMethod.Get))
            {
                @Html.TextBox("searchRequest")<input type="submit" value="searchRequest" />
            }

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nb_participants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.game)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.start_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.team_size)
        </th>

        <th></th>
    </tr>
    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="3" style="color: red">
                No Tournament Found
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nb_participants)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.game)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.start_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.team_size)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.id })
                </td>
            </tr>
        }
    }



</table>
