@model IEnumerable<WebApplication1.Models.Team>

@{
    ViewBag.Title = "View_Team";
}

<h2>Index_TEAMS</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Captain name
        </th>
        <th>
            Tournament name
        </th>
        <th>
            Team size
        </th>

        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tournament.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nb_members)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
            @Html.ActionLink("Details", "Details", new { id = item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id }) |
            @Html.ActionLink("Join", "addPlayer", "Teams", new { id = item.id }, null)
        </td>
    </tr>
}

</table>
